<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header>
        <nav></nav>
    </header>
    <section class="home">

        <div class="superTextoFua">
            <h1 class="bigger">Get <span>ROCKET</span> <span class="small">App Now!</span></h1>
            <div class="">
                <p class="big">ROCKET is the most unique mobile app, designed for managing startups, small business
                    projects, and supporting modern companies.</p>
            </div>
        </div>
        <div class="cellphone">
            <img src="./assets/iphonex.jpg" alt="">
        </div>

    </section>
    <section class="features">Sección 2</section>
    <section>Sección 3</section>
    <section>Sección 4</section>
    <section>Sección 5</section>
    <section>Sección 6</section>
    <div class="prefooter"></div>
    <footer></footer>
</body>

</html>