:root{
    --nav-h: 56px;
}

body{
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    background: black;
    color:white;
    padding-top: var(--nav-h);
    header{
        position: fixed;
        height: var(--nav-h);
        background: white;
        width: 100vw;
        top: 0px;
        left: 0px;
        z-index: 99;
        nav{
            height: inherit;
        }
    }
    
    section{
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        .superTextoFua{
            transition: 0.5s;
        }
        .cellphone{
            img{
                position: relative;
                left: 900px;
                transition: 0.5s;
                transform: translate(-900px,0px);
            }
        }
    }

    section.home{
        background: linear-gradient(160deg, #373990 0%, #F25232 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15%;
    }
    section.features{
        transition: 0.5s;
    }
}
.bigger{
    font-size: 400%;
}

.small{
    font-size: 80%;
    font-weight: normal;
}